/* Existing CSS */

/* Login CSS Code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}

.wrapper {
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/* Login Form CSS */
.form {
    padding: 30px 30px;
}
.form header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
}

.field input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form form .field {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.form form .field input {
    outline: none;  
}

.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form form .button input {
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Chat Area CSS */
.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
    font-weight: 600;
}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
    border-radius: 25px;
}

.chat-box {
    height: 500px;
    overflow-y: auto;
    background: #ebebeb;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .chat {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.chat-box .chat .username {
    font-weight: bold;
    margin-bottom: 5px;
}

.chat-box .chat p {
    padding: 8px 16px;
    word-wrap: break-word;
}

.chat-box .outgoing {
    align-items: flex-end;
}

.outgoing .details {
    max-width: 70%;
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
    text-align: right;
}

.chat-box .incoming {
    align-items: flex-start;
}

.incoming .details {
    max-width: 70%;
    background: #fff;
    border-radius: 18px 18px 18px 0;
    text-align: left;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
    border-radius: 25px;
}

.chat-box .outgoing img {
    height: 35px;
    width: 35px;
    border-radius: 25px;
}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button {
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}
